{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav class="navbar bg-body-secondary">
        <div class="container d-flex justify-content-center">
            <a href="" class="navbar-brand">Server Status Dashboard</a>
        </div>
    </nav>

    <div class="container p-4 text-center">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Active User Count
                    </div>

                    <div class="card-body">
                        <fi class="fa-solid fa-user"></fi>
                        {% set timeDiff = 'now'|date('U') - last_active_user_count.createdAt|date('U') %}
                        {% set hoursAgo = timeDiff / 3600 %}

                        {{ last_active_user_count.count }} ({{ hoursAgo|round }} hours ago)
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}